@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi:wght@400;500;600&display=swap');

/* 
Colors

Green: #00BF62
Black: #000000
DarkGray: #2D2B29

*/

:root {
    --Green: #00BF62;
    --Black: #000000;
    --DarkGray: #2D2B29;
    --public-sans: 'Public Sans';
}

li{
    font-family: var(--public-sans);
    color: #fff;
    font-weight: 700;
    text-decoration: none;
}

ul{
    padding: 0;
    list-style-type: none;
}


/* Luz de fundo */

.fundoligth{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}
    
.fundoligth::before {
    margin-top: 150px;
    content: "";
    position: absolute;
    width: 150em;
    height: 150em;
    background: radial-gradient(circle, white 0%, transparent 50%);
    border-radius: 50%;
    opacity: 0.1;
}

/* Fim da Luz de Fundo */

/* Jogando todas as tag para frente do background */

.content {
    margin: 0px 100px;
    position: relative;
}



/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    background-color: var(--Black);
    color: #fff;
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
}

.navbar-nav {
    padding: 0;
}

.navbar-nav li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.navbar-nav li {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar button {
    background-color: var(--Green);
    color: #000;
    font-size: 16px;
    border: 1px solid #00743c;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--public-sans);
    font-weight: 700;
}

.btnDebate {
    margin-right: 20px;
    margin-left: 20px;
    width: 140px;
    height: 40px;
}

.btnCadLog {
    margin-right: 20px;
    margin-left: 10px;
    width: 190px;
    height: 40px;
}


.navbar button:hover {
    background-color: #028a49;
    color: #fff;
}

#menu-X {
    position: fixed;
    left: 0;
    right: 0;
    transition: top 0.3s ease-out;
    top: 0;
    z-index: 5;
}

/* Fim do NavBar */

/* Image Circle */

.circle-image {
    overflow: hidden;
    display: flex;
    position: absolute;
    left: 60%;
    margin-top: 10rem;
}

.circle-image img {
    width: 50vw; /* 25% da largura da viewport */
    height: 50vw; /* 25% da largura da viewport */
    max-width: 20rem; /* Largura máxima de 25rem */
    max-height: 20rem; /* Altura máxima de 25rem */
    border-radius: 50%;
    object-fit: cover;
}

.circle-image-two{
    overflow: hidden;
    display: flex;
    position: absolute;
    left: 51%;
    margin-top: 19rem;
}

.circle-image-two img{
    width: 50vw;
    height: 50vw;
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 750px) {
    .circle-image-two {
        left: 40%;
    }
}
@media screen and (max-width: 600px) {
    .circle-image {
        margin-top: 11rem;
        left: 40%;
    }

    .circle-image-two {
        margin-top: 20rem;
        left: 20%;
    }
}
@media screen and (max-width: 350px) {
    .circle-image {
        margin-top: 13rem;
        left: 30%;
    }

    .circle-image-two {
        margin-top: 19rem;
        left: -30%;
    }
}

/* Fim Image Circle */

/* Rodapé */

.ft-div{
    width: 100%;
    background-color: var(--DarkGray);
    padding: 20px;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    
}

.footer-bar li{
    width: 33.33%;
    float: left;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
}

/* Fim do Rodapé */
