@import url(../variables.css);

.slider {
    width: 100%;
}

.slider input {
    display: none;
}

.testimonials {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    min-height: 350px;
    perspective: 1000px;
    overflow: hidden;
}

.testimonials .item {
    top: 0;
    position: absolute;
    box-sizing: border-box;
    background-color: var(--Black);
    padding: 30px;
    width: 450px;
    text-align: center;
    transition: transform 0.4s;
    -webkit-transform-style: preserve-3d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    user-select: none;
    cursor: pointer;
}

.testimonials .item img {
    width: 50%;
    border-radius: 50%;
    border: 13px solid #3B344D;
}

.testimonials .item p {
    color: #ddd;
}

.testimonials .item h2 {
    font-size: 14px;
}

.dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
}

.dots label {
    display: block;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    cursor: pointer;
    background-color: #413B52;
    margin: 7px;
    transition: transform 0.2s, color 0.2s;
}

/* First */
#t-1:checked~.dots label[for="t-1"] {
    transform: scale(2);
    background-color: var(--Green);
}

#t-1:checked~.dots label[for="t-2"] {
    transform: scale(1.5);
}

#t-1:checked~.testimonials label[for="t-1"] {
    z-index: 4;
}

#t-1:checked~.testimonials label[for="t-2"] {
    transform: translateX(300px) translateZ(-90px);
    z-index: 3;
}

#t-1:checked~.testimonials label[for="t-3"] {
    transform: translateX(600px) translateZ(-180px);
    z-index: 2;
}

#t-1:checked~.testimonials label[for="t-4"] {
    transform: translateX(900px) translateZ(-270px);
    z-index: 1;
}

#t-1:checked~.testimonials label[for="t-5"] {
    transform: translateX(1200px) translateZ(-360px);
}

/* Second */
#t-2:checked~.dots label[for="t-1"] {
    transform: scale(1.5);
}

#t-2:checked~.dots label[for="t-2"] {
    transform: scale(2);
    background-color: var(--Green);
}

#t-2:checked~.dots label[for="t-3"] {
    transform: scale(1.5);
}

#t-2:checked~.testimonials label[for="t-1"] {
    transform: translateX(-300px) translateZ(-90px);
}

#t-2:checked~.testimonials label[for="t-2"] {
    z-index: 3;
}

#t-2:checked~.testimonials label[for="t-3"] {
    transform: translateX(300px) translateZ(-90px);
    z-index: 2;
}

#t-2:checked~.testimonials label[for="t-4"] {
    transform: translateX(600px) translateZ(-180px);
    z-index: 1;
}

#t-2:checked~.testimonials label[for="t-5"] {
    transform: translateX(900px) translateZ(-270px);
}

/* Third */
#t-3:checked~.dots label[for="t-2"] {
    transform: scale(1.5);
}

#t-3:checked~.dots label[for="t-3"] {
    transform: scale(2);
    background-color: var(--Green);
}

#t-3:checked~.dots label[for="t-4"] {
    transform: scale(1.5);
}

#t-3:checked~.testimonials label[for="t-1"] {
    transform: translateX(-600px) translateZ(-180px);
}

#t-3:checked~.testimonials label[for="t-2"] {
    transform: translateX(-300px) translateZ(-90px);
}

#t-3:checked~.testimonials label[for="t-3"] {
    z-index: 3;
}

#t-3:checked~.testimonials label[for="t-4"] {
    transform: translateX(300px) translateZ(-90px);
    z-index: 2;
}

#t-3:checked~.testimonials label[for="t-5"] {
    transform: translateX(600px) translateZ(-180px);
}

/* Fourth */
#t-4:checked~.dots label[for="t-3"] {
    transform: scale(1.5);
}

#t-4:checked~.dots label[for="t-4"] {
    transform: scale(2);
    background-color: var(--Green);
}

#t-4:checked~.dots label[for="t-5"] {
    transform: scale(1.5);
}

#t-4:checked~.testimonials label[for="t-1"] {
    transform: translateX(-900px) translateZ(-270px);
}

#t-4:checked~.testimonials label[for="t-2"] {
    transform: translateX(-600px) translateZ(-180px);
}

#t-4:checked~.testimonials label[for="t-3"] {
    transform: translateX(-300px) translateZ(-90px);
    z-index: 2;
}

#t-4:checked~.testimonials label[for="t-4"] {
    z-index: 3;
}

#t-4:checked~.testimonials label[for="t-5"] {
    transform: translateX(300px) translateZ(-90px);
}

/* Fifth */
#t-5:checked~.dots label[for="t-4"] {
    transform: scale(1.5);
}

#t-5:checked~.dots label[for="t-5"] {
    transform: scale(2);
    background-color: var(--Green);
}

#t-5:checked~.testimonials label[for="t-1"] {
    transform: translateX(-1200px) translateZ(-360px);
}

#t-5:checked~.testimonials label[for="t-2"] {
    transform: translateX(-900px) translateZ(-270px);
    z-index: 1;
}

#t-5:checked~.testimonials label[for="t-3"] {
    transform: translateX(-600px) translateZ(-180px);
    z-index: 2;
}

#t-5:checked~.testimonials label[for="t-4"] {
    transform: translateX(-300px) translateZ(-90px);
    z-index: 3;
}

#t-5:checked~.testimonials label[for="t-5"] {
    z-index: 4;
}