.main {
  height: 100vh;
  background-color: var(--Black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 18%;
  padding: 1rem;
}

.title {
  display: flex;
  align-items: start;
  justify-content: start;
  margin-bottom: 3rem;
}

.title > .first {
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
  color: var(--Background-Default);
}

.title > .second {
  font-family: "Poppins", sans-serif;
  font-size: 7rem;
  color: var(--Green);
}

.sub-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--Background-Default);
}

.warning-text {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: var(--Background-Default);
}

.login-box {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--Background-Default);
  margin-top: 1.7rem;
  border-radius: 1rem;
}

.username-box,
.password-box {
  position: relative;
}

.icon {
  position: absolute;
  top: 47%;
  filter: invert(71%) sepia(7%) saturate(46%) hue-rotate(349deg) brightness(94%)
    contrast(83%);
}

.username-box > label,
.password-box > label {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--Gray-Border);
}

.username-box > input,
.password-box > input {
  border: none;
  border-bottom: 1px solid var(--Gray-Border);
  padding: 0.2em 0;
  font-size: 1.5em;
  text-indent: 2em;
  margin: 1.5rem 0;
  width: 100%;
}

.btn {
  padding: 0.7rem;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  transition: 0.2s;
}

.btn-login {
  background-color: var(--Green);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
  margin-top: 2rem;
}

.btn-login:hover {
  transition: 0.2s;
  transform: translateY(-10%);
  box-shadow: rgba(0, 0, 0, 0.45) 10px 10px 20px;
}

.btn-login:active {
  color: var(--Background-Default);
  transition: 0.2s;
  transform: translateY(10%);
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 10px;
}

.forgot-password {
  text-align: right;
  font-family: "Poppins", sans-serif;
}

.forgot-password > a {
  text-decoration: none;
  color: var(--Black);
}

.sign-up-box {
  padding: 1rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.sign-up-box > span {
  color: var(--Background-Default);
}

.sign-up-box a {
  color: var(--Green);
}

.input-data:focus {
  outline: none;
}

@media only screen and (min-width: 1200px) and (max-width: 1799px) {
  .wrapper {
    width: 22%;
  }
}

@media only screen and (max-width: 1366px) {
  .wrapper {
    width: 25%;
  }
}
